<div className="App">
  <div class="preloader">
   <div class="loader">
   <div class="ytp-spinner">
   <div class="ytp-spinner-container">
   <div class="ytp-spinner-rotator">
   <div class="ytp-spinner-left">
   <div class="ytp-spinner-circle"></div>
   </div>
   <div class="ytp-spinner-right">
   <div class="ytp-spinner-circle"></div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   <header class="header">
   <div class="navbar-area">
   <div class="container">
   <div class="row align-items-center">
   <div class="col-lg-12">
   <nav class="navbar navbar-expand-lg">
   <a class="navbar-brand" href="#">
   <img src="assets/img/logo/logo.svg" alt="Logo" />
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="toggler-icon"></span>
   <span class="toggler-icon"></span>
   <span class="toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
   <ul id="nav" class="navbar-nav ml-auto">
   <li class="nav-item">
   <a class="page-scroll" href="#home">Home</a>
   </li>
   <li class="nav-item">
   <a class="page-scroll" href="#services">Serviços</a>
   </li>
   <li class="nav-item">
   <a class="page-scroll" href="#about">Sobre</a>
   </li>
   <li class="nav-item">
   <a class="page-scroll" href="#how">Como funciona</a>
   </li>
   <li class="nav-item">
   <a class="page-scroll" href="#testimonial">Experiências</a>
   </li>
   </ul>
   </div>
   </nav>
   </div>
   </div>
   </div>
   </div>
   </header>
   <section id="home" class="hero-section">
   <div class="hero-shape">
   <img src="assets/img/hero/hero-shape.svg" alt="" class="shape" />
   </div>
   <div class="container">
   <div class="row align-items-center">
   <div class="col-lg-6">
   <div class="hero-content">
   <h1 class="wow fadeInUp" data-wow-delay=".2s">Entregas a domicílio <span>De Lojas Próximas a você</span> </h1>
   <p class="wow fadeInUp" data-wow-delay=".4s">
    Somos muito mais que uma food delivery: somos mercado, farmácia, pet, benefícios. E temos fome de alimentar o futuro do mundo com nossos projetos de Educação, Meio Ambiente, Diversidade & Inclusão além de promover mais valorização para quem faz entregas!
   </p>
   <a href="javascript:void(0)" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Baixe o App</a>
   </div>
   </div>
   <div class="col-lg-6">
   <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
   <img src="assets/img/hero/hero-img.svg" alt="" />
   </div>
   </div>
   </div>
   </div>
   </section>
   <section id="services" class="service-section pt-150">
   <div class="container">
   <div class="row justify-content-center">
   <div class="col-xl-6 col-lg-8">
   <div class="section-title text-center mb-70">
   <span class="wow fadeInUp" data-wow-delay=".2s">Serviços de Entregas</span>
   <h1 class="wow fadeInUp" data-wow-delay=".4s">Tudo que você precisa</h1>
   </div>
   </div>
   </div>
   <div class="row">
   <div class="col-lg-4 col-md-6">
   <div class="single-service wow fadeInUp" data-wow-delay=".2s">
   <div class="icon">
   <img src="assets/img/service/service-icon-1.svg" alt="" />
   </div>
   <div class="content">
   <h3>Comida</h3>
   <p>Os melhores restaurantes, lanchonetes da sua região, você encontra aqui.</p>
   </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-6">
   <div class="single-service wow fadeInUp" data-wow-delay=".4s">
   <div class="icon">
   <img src="assets/img/service/service-icon-2.svg" alt="" />
   </div>
   <div class="content">
   <h3>Mercado</h3>
   <p>Ir ao mercado sem sair de casa, com entregas na sua casa!</p>
   </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-6">
   <div class="single-service wow fadeInUp" data-wow-delay=".6s">
   <div class="icon">
   <img src="assets/img/service/service-icon-3.svg" alt="" />
   </div>
   <div class="content">
   <h3>Equipamentos</h3>
   <p>As principais Lojas de Equipamentos para Construção, reforma e decoração!</p>
   </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-6">
   <div class="single-service wow fadeInUp" data-wow-delay=".2s">
   <div class="icon">
   <img src="assets/img/service/service-icon-4.svg" alt="" />
   </div>
   <div class="content">
   <h3>Medicamentos</h3>
   <p> As principais farmácias, farmácias de manipulação com serviços de entrega 24Hrs</p>
   </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-6">
   <div class="single-service wow fadeInUp" data-wow-delay=".4s">
   <div class="icon">
   <img src="assets/img/service/service-icon-5.svg" alt="" />
   </div>
   <div class="content">
   <h3>Eletrônicos</h3>
   <p> As maiores marcas de Eletrônicos, você encontra aqui!</p>
   </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-6">
   <div class="single-service wow fadeInUp" data-wow-delay=".6s">
   <div class="icon">
   <img src="assets/img/service/service-icon-6.svg" alt="" />
   </div>
   <div class="content">
   <h3>Vestiário</h3>
   <p>Descubra seu estilo e navegue pelas milhares de opções disponíveis!</p>
   </div>
   </div>
   </div>
   </div>
   </div>
   </section>
   <section id="about" class="about-section pt-150">
   <div class="container">
   <div class="row">
   <div class="col-lg-6">
   <div class="about-img wow fadeInUp" data-wow-delay=".5s">
   <img src="assets/img/about/about-img.svg" alt="" />
   </div>
   </div>
   <div class="col-lg-6">
   <div class="about-content">
   <div class="section-title">
   <span class="wow fadeInUp" data-wow-delay=".2s">Sobre nós</span>
   <h1 class="wow fadeInUp" data-wow-delay=".4s">Entregas rápidas e satisfação dos usuários garantidas!</h1>
   <p class="wow fadeInUp" data-wow-delay=".6s">O Station é uma empresa brasileira que aproxima clientes, restaurantes e entregadores de forma simples e prática. E para proporcionar uma experiência incrível a cada um deles, nossa entrega vai muito além do delivery.</p>
   </div>
   <div class="rating-meta d-flex align-items-center wow fadeInUp" data-wow-delay=".65s">
   <h5>Rating 4.7</h5>
   <div class="rating">
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   </div>
   </div>
   <div class="counter-up wow fadeInUp" data-wow-delay=".8s">
   <div class="single-counter">
   <h3 id="secondo1" class="countup" >1M</h3>
   <h5>Download</h5>
   </div>
   <div class="single-counter position-relative">
   <h3 id="secondo2" class="countup">234k </h3>
   <h5>Avaliações</h5>
   </div>
   <div class="single-counter">
   <h3 id="secondo3" class="countup" >34k </h3>
   <h5>Reviews</h5>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </section>
   <section id="how" class="delivery-section pt-150">
   <div class="container">
   <div class="row align-items-center">
   <div class="col-lg-5">
   <div class="delivery-content">
   <div class="section-title">
   <span class="wow fadeInUp" data-wow-delay=".2s">Entregas rápidas</span>
   <h1 class="mb-35 wow fadeInUp" data-wow-delay=".4s">Peça Agora, Receba em 40mins</h1>
   <p class="mb-35 wow fadeInUp" data-wow-delay=".6s">Nosso jeito e nossa maneira de atuar fazem do Station um lugar único, que incentiva as pessoas a crescerem com rapidez e eficiência.</p>
   <a href="javscript:void(0)" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".8s">Download App</a>
   </div>
   </div>
   </div>
   <div class="col-lg-7 order-first order-lg-last">
   <div class="delivery-img wow fadeInUp" data-wow-delay=".5s">
   <img src="assets/img/delivery/delivery-img.svg" alt="" />
   </div>
   </div>
   </div>
   </div>
   </section>
   <section id="received" class="about-section received-section pt-150">
   <div class="container">
   <div class="row align-items-center">
   <div class="col-lg-6">
   <div class="about-img received-img wow fadeInUp" data-wow-delay=".5s">
   <img src="assets/img/received/received-img.svg" alt="" />
   </div>
   </div>
   <div class="col-lg-6">
   <div class="about-content received-content">
   <div class="section-title">
   <span class="wow fadeInUp" data-wow-delay=".2s">Entregas sem contato</span>
   <h1 class="mb-25 wow fadeInUp" data-wow-delay=".4s">Entrega no prazo à sua porta</h1>
   <p class="wow fadeInUp" data-wow-delay=".6s">O pedido será deixado no local indicado e o usuário será avisado via app para que possa retirá-lo, sem a necessidade de se encontrar pessoalmente com o entregador.</p>
   </div>
   </div>
   </div>
   </div>
   </div>
   </section>
   <section id="testimonial" class="testimonial-section img-bg pt-150 pb-40">
   <div class="container">
   <div class="row justify-content-center">
   <div class="col-lg-6">
   <div class="section-title mb-60 text-center">
   <span class="wow fadeInUp" data-wow-delay=".2s">Avaliações</span>
   <h1 class="wow fadeInUp" data-wow-delay=".4s">O que nossos usuários andam dizendo</h1>
   </div>
   </div>
   </div>
   <div class="row testimonial-wrapper">
   <div class="col-lg-4 col-md-6 -mt-30">
   <div class="single-testimonial wow fadeInUp" data-wow-delay=".2s">
   <div class="rating">
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   </div>
   <div class="content">
   <p>O app é bom. Mas pode melhorar,sugiro que o app tenha um tema escuro.</p>
   </div>
   <div class="info">
   <div class="image">
   <img src="assets/img/testimonial/testimonial-1.png" alt="" />
   </div>
   <div class="text">
   <h5>Ero X</h5>
   </div>
   </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-6 -mt-60">
   <div class="single-testimonial wow fadeInUp" data-wow-delay=".4s">
   <div class="rating">
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   </div>
   <div class="content">
   <p>O app é muito bom, mas deveria ter a opção de editar o endereço manualmente. A minha rua no mapa aparece escrito de forma correta, mas quando confirmo a localização aparece escrito errado e com o nome de outro bairro.</p>
   </div>
   <div class="info">
   <div class="image">
   <img src="assets/img/testimonial/testimonial-2.png" alt="" />
   </div>
   <div class="text">
   <h5>Cissa Benevides</h5>
   </div>
   </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-6">
   <div class="single-testimonial wow fadeInUp" data-wow-delay=".6s">
   <div class="rating">
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   </div>
   <div class="content">
   <p>Ótimo app de delivery. Tudo é prático e intuitivo. Antes precisava pesquisar cada lugar individualmente, mas aqui todos os restaurantes são classificados conforme vc deseja, seja pela distância, nota do usuário ou preço da entrega. Super satisfeito com o app.</p>
   </div>
   <div class="info">
   <div class="image">
   <img src="assets/img/testimonial/testimonial-3.png" alt="" />
   </div>
   <div class="text">
   <h5>Leonardo F. Souza</h5>
   </div>
   </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-6 -mt-30">
   <div class="single-testimonial wow fadeInUp" data-wow-delay=".2s">
   <div class="rating">
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   </div>
   <div class="content">
   <p>Tem uma usabilidade que facilita pra algumas coisas e os bugs melhoraram muito. Parei de ter problemas! Pena que não pode usar o saldo na carteira para dar uma gorjeta pro motoboy. Mas no geral tem atendido bem quando preciso.</p>
   </div>
   <div class="info">
   <div class="image">
   <img src="assets/img/testimonial/testimonial-4.png" alt="" />
   </div>
   <div class="text">
   <h5>Francisco Milagres</h5>
   </div>
   </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-6 -mt-60">
   <div class="single-testimonial wow fadeInUp" data-wow-delay=".4s">
   <div class="rating">
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   </div>
   <div class="content">
   <p>O Station é o melhor app de comida que tem. Mais prático, intuitivo, funcional, e tem os melhores e maiores restaurantes.</p>
   </div>
   <div class="info">
   <div class="image">
   <img src="assets/img/testimonial/testimonial-5.png" alt="" />
   </div>
   <div class="text">
   <h5>Emanuel Alves</h5>
   </div>
   </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-6">
   <div class="single-testimonial wow fadeInUp" data-wow-delay=".6s">
   <div class="rating">
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   <i class="lni lni-star-filled"></i>
   </div>
   <div class="content">
   <p>Melhor APP... Seja a compra em restaurantes, supermercados, farmácia, exatamente TUDO! Tem estabelecimentos pra todos os gostos e bolsos, é muito completo, muito fácil de usar. Sem falar das promoções.</p>
   </div>
   <div class="info">
   <div class="image">
   <img src="assets/img/testimonial/testimonial-6.png" alt="" />
   </div>
   <div class="text">
   <h5>Bárbara Gomes</h5>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </section>
   
   <footer id="footer" class="footer pt-100 pb-70">
   <div class="footer-shape">
   <img src="assets/img/footer/footer-left.svg" alt="" class="shape shape-1" />
   <img src="assets/img/footer/footer-right.svg" alt="" class="shape shape-2" />
   </div>
   <div class="container">
   <div class="row">
   <div class="col-lg-3 col-md-6">
   <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
   <div class="logo">
   <a href="#"><img src="assets/img/logo/logo-2.svg" alt="logo" /></a>
   </div>
   <div class="download-btns">
   <a href="javascript:void(0)">
   <span class="icon"><i class="lni lni-apple"></i></span>
   <span class="text">Download on the <b>App Store</b> </span>
   </a>
   <a href="javascript:void(0)">
   <span class="icon"><i class="lni lni-play-store"></i></span>
   <span class="text">GET IT ON <b>Play Store</b> </span>
   </a>
   </div>
   </div>
   </div>
   <div class="col-lg-3 col-md-6">
   <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
   <h3>Sobre Nós</h3>
   <ul class="links">
   <li>
   <a href="javascript:void(0)">Home</a>
   </li>
   <li>
   <a href="javascript:void(0)">Serviços</a>
   </li>
   <li>
   <a href="javascript:void(0)">Sobre Nós</a>
   </li>
   <li>
   <a href="javascript:void(0)">Contato</a>
   </li>
   </ul>
   </div>
   </div>
   <div class="col-lg-3 col-md-6">
   <div class="footer-widget wow fadeInUp" data-wow-delay=".6s">
   <h3>Sobre</h3>
   <ul class="links">
   <li>
   <a href="javascript:void(0)">Parceiros</a>
   </li>
   <li>
   <a href="javascript:void(0)">Termos de serviços</a>
   </li>
   <li>
   <a href="javascript:void(0)">Política de privacidade</a>
   </li>
   <li>
   <a href="javascript:void(0)">Política de estorno</a>
   </li>
   </ul>
   </div>
   </div>
   <div class="col-lg-3 col-md-6">
   <div class="footer-widget wow fadeInUp" data-wow-delay=".8s">
   <h3>Suporte</h3>
   <ul class="links">
   <li>
   <a href="javascript:void(0)">Abra um chamado</a>
   </li>
   <li>
   <a href="javascript:void(0)">Comunidade</a>
   </li>
   <li>
   <a href="javascript:void(0)">Política de estorno</a>
   </li>
   <li>
   <a href="javascript:void(0)">Accessibilidade</a>
   </li>
   </ul>
   </div>
   </div>
   </div>
   </div>
   </footer>
   <a href="#" class="scroll-top btn-hover">
   <i class="lni lni-chevron-up"></i>
   </a>